<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was made by CodingStuff for learning NODE JS and EXPRESS technologies</p>
        <p class="logo_technologies">
            <img src="/img/nodejs.png" alt="logo_node_js">
            <img src="/img/expressJs.png" alt="">
        </p>
        <p>For more informations contact CODINGSTUFF : codingstuff91@gmail.com</p>
    </div>
    
    {{>footer}}
</body>

</html>