<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
    {{!-- TAILWIND CSS --}}
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {{!-- Font AWESOME --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>


<body class="bg-white-100">
    <div class="bg-blue-100 h-auto">
        {{>header}}
        <div class="flex flex-col justify-center">
            <div class="row">
                <h2 class="mt-5 mx-5 sm:text-lg md:text-3xl font-sans">Get the weather informations of a city</h2>
            </div>
            <div class="row">
                <form class="mx-5 mt-5">
                    <input class="px-2 py-2 rounded-lg" type="text" id="location" placeholder="Type a city name">
                    <button
                        class="bg-green-500 hover:bg-green-400 px-4 py-2 rounded-lg" 
                        type="submit" value="Valider" id="submit">
                        Search
                    </button>
                </form>
            </div>
            
            <h3 class="mt-5 mx-5 sm:text-lg md:text-3xl font-sans">Météo en temps réel</h3>
            <h4 class="mx-5 mt-4" id="cityName"></h4>

            <div class="instantMeteo mx-5 hidden" id="instantForecastLabel"></div>

            <h3 class="mt-5 mx-5 sm:text-lg md:text-3xl font-sans hidden" id="hourlyForecastLabel">Météo prévisionnelle sur 6 heures</h3>
            <table class="table-auto mb-8 mx-4 hidden" id="hourlyForecastTable">
                <thead id="hourlyForecastTitles">

                </thead>
                <tbody id="hourlyForecastResults">

                </tbody>
            </table>

            <h3 class="mt-5 mx-5 sm:text-lg md:text-3xl font-sans hidden" id="dailyForecastLabel">Météo prévisionnelle sur 4 jours</h3>
            <table class="table-auto mb-8 mx-4 hidden" id="dailyForecastTable">
                <thead id="dailyForecastTitles">

                </thead>
                <tbody id="dailyForecastResults">

                </tbody>
            </table>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>