<!DOCTYPE html>

<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}

        <table>
            <tr>
                <th>Ville</th>
                <th>Meteo actuelle</th>
                <th>Temperature</th>
            </tr>
            <tr>
                <td>{{location}}</td>
                <td>{{forecast}}</td>
                <td></td>
            </tr>
        </table>
    </div>

    {{>footer}}
</body>

</html>