<header class="bg-blue-200 h-20 w-screen my-0 flex items-center justify-between">
    <div>
        <h1 class="mx-5 sm:text-lg md:text-3xl font-sans"><i class="fas fa-cloud-sun-rain mx-1"></i>WEATHER PLATFORM</h1>
    </div>
    <div>
        <a class="mx-10 sm:text-base md:text-2xl" href="/">Weather</a>
        <a class="mx-10 sm:text-base md:text-2xl" href="/about">About</a>
    </div>
</header>